<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <title>SuperSAT Live Output</title>
</head>
<head>
    <meta http-equiv="refresh" content="1.5">
</head>
<body>
    <div>
        <h1 style="color:#ffffffff;">SuperSAT Live Output</h1>
    </div>
</body>
<body>
    <div>
        <body style="background-color:#00070c;"></body>
        <img style="color: #ffffffff;" src="/static/{{ ImageHTML }}" alt="There are no images in the static folder! Has the mission software been executed? [1]">
    </div>
</body>
</html>